.notification-toast {
    position: fixed;
    top: 50%;
    right: 20px; /* Adjust this value to change the distance from the right side of the screen */
    transform: translate(0, -50%);
    background-color: #fff; /* Background color for the toast */
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    max-width: 400px; /* Adjust the maximum width of the notification */
}

.toast-success {
    background-color: #4caf50; /* Background color for success messages */
    color: #fff;
}

.toast-error {
    background-color: #ff0000; /* Background color for error messages */
    color: #fff;
}

.btn-close {
    cursor: pointer;
    margin-left: 10px; /* Add space between text and close button */
}
